<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Boot User Authentication</title>

<script>
    function resetPasswordData() {
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                document.getElementById('newPassword').value = '';
                document.getElementById('confirmPassword').value = '';
                alert(this.responseText);
            }
        }

        let newPassword = document.getElementById('newPassword').value;
        let confirmPassword = document.getElementById('confirmPassword').value;

        if (newPassword !== '' && confirmPassword !== ''){
            let currentUrl = new URL(window.location.href);
            let token = currentUrl.searchParams.get("token");
            let email = currentUrl.searchParams.get("email");
            xhr.open('post','/api/turntablexe/updatePassword?token='+token+'&email='+email, true);
            xhr.setRequestHeader('content-type', 'application/json');
            xhr.send(JSON.stringify({'newPassword':newPassword, 'confirmPassword':confirmPassword}));
        }else {
            alert('Please filled can\'t be none');
        }


    }
    document.getElementById('resetButton').addEventListener('click', event => {
      event.preventDefault();
      resetPasswordData();
    });

</script>
</div>
</body>
</html>
