<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Boot User Authentication</title>

    <style>
        .form-container{
         margin:100px auto;
         width:30%;
         padding:20px;
         box-shadow:2px 1px 2px grey;
        }
        .form-container2{
         margin:20px auto;
         width:80%;
        }
        input{
        width:100%;
        height:1.5rem;
        }

        button{
        height:2rem;
        background-color:#00FFFF;
        color:#fff;
        border:none;
        outline:none;
        }
    </style>
</head>
<body>
<div class="form-container">
<form role="form" method="post" id="resetPassword" enctype="multipart/form-data">
    <div class="form-container2">
    <label>New Password</label>
    <div>
        <input type="password" id="newPassword" name="newPassword" >
    </div>
        <br>
    <label>Confirm Password</label>
    <div>
        <input type="password" id="confirmPassword" name="confirmPassword">
    </div>
    <br>
    <button type="button" id="resetButton" >Change Password</button>
    </div>
</form>

<script>
    function resetPasswordData() {
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                document.getElementById('newPassword').value = '';
                document.getElementById('confirmPassword').value = '';
                alert(this.responseText);
            }
        }

        let newPassword = document.getElementById('newPassword').value;
        let confirmPassword = document.getElementById('confirmPassword').value;

        if (newPassword !== '' && confirmPassword !== ''){
            let currentUrl = new URL(window.location.href);
            let token = currentUrl.searchParams.get("token");
            let email = currentUrl.searchParams.get("email");
            xhr.open('post','/api/turntablexe/updatePassword?token='+token+'&email='+email, true);
            xhr.setRequestHeader('content-type', 'application/json');
            xhr.send(JSON.stringify({'newPassword':newPassword, 'confirmPassword':confirmPassword}));
        }else {
            alert('Please filled can\'t be none');
        }


    }
    document.getElementById('resetButton').addEventListener('click', event => {
      event.preventDefault();
      resetPasswordData();
    });

</script>
</div>
</body>
</html>
